
body{
    font-size: 1.4rem !important;
}
.btn {
    font-size: 1.4rem !important;
}
h3{
    padding-top: 4px;
}
.form-control {   
    height: auto !important;
    font-size: 14px !important;
}
.logintmrgn{
    margin-top: 30px;
}
.input-box {   
    font-size: 14px !important;
    margin: 0px 0 0 0 !important;
}
.changepassword{
    padding-top: 17px;
    text-align: right;
}
.changepassword a{  
    color: #fff !important;
    padding: 0;
}
.changepassword a:hover{   
    color: #000 !important;
}
.checkbox label, .radio label{
    padding-left: 0;
}
.checkp{
    padding-left: 35px;
}
.container {   
    padding-left: 15px !important;   
    font-size: 14px !important;

}
.Loginvbg{
    background-color: #135ca0;
    background: url('../../src/images/bg-01.jpg') no-repeat;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
   min-height: 654px;
}
.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.9);
}
.multiSelect {
    text-align: left;
    margin: 0px !important;
}
.select_left{
    float: left;
   width: 88%;
}
.drparw{
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-left: 9px;
    margin-top: 5px;
    cursor: pointer;
}
.select_right{
    float: right;
    width: 30px;
    background-color: #255c8f;
}
.chip-body {
    height: 30px !important; 
}
.file-upload input[type='file'] {
    display: none;
  }
  .rounded-lg {
    border-radius: 1rem;
  }
  
  .custom-file-label.rounded-pill {
    border-radius: 50rem;
  }
  
  .custom-file-label.rounded-pill::after {
    border-radius: 0 50rem 50rem 0;
    background-color: #296091;
    color: #fff;
  }

.Header{
    padding-left: 3.25rem !important;
    padding-right: 5.25rem !important;
    color: #454545;
    background-color:#fff;
    border-bottom: solid 1px #ebebeb;
}
.menupdng{
    padding-left: 5.25rem !important;
    /* padding-right: 5.25rem !important; */
}
/* .container{
    width: 80%;
    margin: 0 auto; 
}
.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 10px 0;
    color: #fff;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}     */

.logo{
    padding-top: 10px;
    padding-bottom: 10px;  
}
.content{
    background-color: #fff;
    min-height: 724px;
    padding-top: 0px;
}
.innercontent{
    background-color: #fff;
    min-height: 600px;
    padding-top: 0px;
}
.sidebarhdr{
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    background-color: #f3f3f4;
    border-bottom: solid 1px #ccc;
}
.toppdng{
    padding-left: 20px;
}
.Footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 50px;
    text-align: center;
    padding-top: 12px;       
    color: #454545;
    background-color: #e9e9e9;
    border-top: solid 1px #d9d9d9;

}
.navlinks{
    padding: 0;
    margin: 0;
}
.navlinks ul{
    padding: 25px 0 0 0;
    margin: 0;
}
.navlinks ul li{
    padding: 0 10px 0 10px;
    margin: 0;
    float: left;
    font-size: 15px;
    text-decoration: none;
    list-style-type: none;
}
.navlinks ul li a{
    padding: 0 10px 0 10px;
    margin: 0;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}
.modal-content{
    background-color: #fff;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
  }
  .fa_icon{
      font-size: 18px;
      color: #b8b8b8;
      margin-top: 40px;
      margin-left: 10px;
  }
  /* .btn-link {
    font-weight: 400;
    color: #FFF !important;
    text-decoration: none;
} */
  /* .btn-link{
    color:#5b6166;
  }
  .btn-link a{
    color:#ff0000 !important;
  } */
  .modal-heading h2{
    color:#255c8f;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 6px;
    padding-top: 35px;
  }
  .modal-heading1{
    color:#255c8f;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 6px;
    padding-top: 20px;
  }
  .input-group-addon {
    width: 40px !important;
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 0;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group-addon, .input-group-btn {
    width: 5%;
    white-space: nowrap;
    vertical-align: middle;
}
.modal-body {
    /* padding: 1rem 2rem 1rem 2rem; */
    border: solid 1px #255c8f;
}
.login-body{
    padding: 10px 50px 10px 50px
}
.formgroup {
    margin-top: 3rem;
}
.form-group {
    margin-top: 1.5rem;
}
.formrgn1 {
    margin-bottom: 0.8rem;
}
.btnshadow{
    background-color: #4176a7;
    border-bottom: solid 5px #255c8f;
    margin-top: 25px;
}
.btn-primary {
    color: #fff;
    background-color: #4176a7;
    border-color: #255c8f;
}
.modal-dialog {
    max-width: 450px;
    margin: 1rem auto;
    margin-bottom: 1.10rem;
}
.input-group-addon{
    padding: 10px 12px;
    background-color: #4176a7;
}
.btnmrgn{
    margin-top: 85px;
}
.facolor{
    color: #fff;
}
.floatl{
    float: left;
}
.floatcheck{
    float: left;
    width: 15px;
}
.floatr{
    float: right;
}
.floatr a{
    font-size: 14px;
    line-height: 0px !important;
    padding-top: 4px !important;
}
.cpadding{
    padding-left: 20px;
    padding-top: 15px;
}
.cpadding1{
    padding-left: 25px;
    font-size: 14px;
}
.btnmrg{
    margin-top: 10px;
}
@media (min-width: 768px){
.modal-dialog {
    width: 600px;
}
.dl-metric dt {
    float: left;
    clear: left;
    text-align: left;
    font-weight: normal;
    color: #aaa;
}
.dl-metric dd {
    text-align: right;
}
}
/*-------------Left Menu Css---------------------*/
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color:#202020;
    background-color: #e3e3e3 !important;    
    border-radius: 0 !important;
    text-shadow: none;
    font-weight: lighter !important;
}
.dwnarrow{
    float: right;
    padding-right: 0px;
    font-size: 16px;
}
.rightarrow{
    font-size: 14px;
}
.leftmenu{
    border-right: solid 1px #ccc;
    min-height: 650px;
    padding-left: 10px;
    padding-top: 0px;
}
.leftnavlinks{
    padding: 0;
    margin: 0;
}
.leftnavlinks ul{
    padding: 0px 0 0 0;
    margin: 0;
}
.leftnavlinks ul li{
    padding: 5px 0px 5px 0px;
    margin: 0;   
    font-size: 15px;
    text-decoration: none;
    list-style-type: none;
}
.leftnavlinks ul li a{
    padding: 5px 0px 5px 0px;
    margin: 0;
    color: #333;
    text-decoration: none;
    list-style-type: none;
}
.leftnavlinks ul li a:hover{
    color: #255c8f;
}
.leftmenuhide{
    position: absolute;
    left: -250px;
    width: 25%;
}
.rightcontent{
    width: 75%;
}
.logouticon{
    font-size: 23px;
    padding-top: 15px;
    padding-right: 25px;
    text-align: right;
}
.logouticon a{
    color: #fff;
    font-size: 25px !important;
}
.logouticon a:hover{
    color: #f5bc1e;
}
.navbaralign{
    font-size: 15px !important;
    cursor: pointer;
    color: #fff !important;
    background-color: #ea7315 !important;
    border: #dc6a10 !important;
    padding-left: 13px !important;
    padding-right: 13px !important;
}
  .popover {
    background: #fff;
    border-radius: 4px;   
    margin: 25px auto;   
    position: absolute;
    top: 100%;
    left: -50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .popover-container {
    width: 200px;
    margin: 18px auto;
    position: relative;
  }
  .sketch-picker {
      width: 185px !important;
  }
.sidenav {
    position: fixed;
    z-index: 1;
    top: 79px;
    left: 0;
    transition: 0.5s;    
    padding-top: 0px;
    background-color: #f1f1f1;
    min-height: 650px;
    border-right: solid 1px #ccc;
  }

  .sidenav .closebtn {
    position: absolute;
    top: -1px;
    z-index: 99;
    right: 0px;
    font-size: 28px;     
    cursor: pointer !important;
    color: #ff0000 !important;
  }
  .sidebaropen{
    font-size: 25px !important;
    cursor: pointer !important;
    color: #ff0000 !important;
    text-align: left !important;
  }
  
  #main {
    transition: margin-left .5s;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /*-----------Form--------------------*/
  
  .errorMsg {
      width: 100%;
    color: #cc0000;
  }
  
  .sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
  }
  .flag-select {  
    color: #4d4d4d;
    text-align: left;
    background-color: #fff;
    margin-top: 19px;
    font-size: 12px !important;
    min-width: 120px;
}
.flag-select .selected--flag--option{
    font-size: 14px !important;
    padding-top: 4px !important;
}
.texyalign{
    text-align: right;
}
/* .input {
    position: relative;
    margin: 20px auto;
    width: 100%;
}
.input input {
    width: 100%;
    padding: 13px 5px 13px 40px;
    display: block;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    transition: 0.2s ease-out;
    color: #000;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
    letter-spacing: 1px;
}
.input span {
    position: absolute;
    display: block;
    color: #f13f57;
    left: 10px;
    top: 1px;
    font-size: 18px;
} */
/*-----------Login Css------------*/


/*-----------Dashboard Css------------------*/

.boxscroll{
    height: 280px;
    overflow-y: scroll;
}
.boxul ul{
    padding: 10px;
    margin: 0;
}
.boxul ul li{
    padding: 5px 0 5px 0;
    margin: 0;
}
.boxminh{
    min-height: 260px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 1.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
.profiletext{
    font-size: 12px;
    font-weight: bold;
    color: #218bed;
    padding-left: 5px;
}
.profileicon{
    width: 40px;
    height: 40px;;
}
.profileicon1{
    width: 30px;
    height: 30px;;
}
.profileid{
    font-size: 12px;
    color: #3a3a3a;
    padding-top: 5px;
    padding-left: 17px;
    text-align: left;
}
.prodetails{
    font-size: 12px;
    color: #3a3a3a;
    padding-top: 5px;
    text-align: left;
}
.prodetailsbold{
    font-weight: bold;
}
.profilebg{
    background-color: #f7f7f7;
}
.cardpdng1{
    padding-top: 10px;
}
.cardheaderbg{
    background-color: #fff;
    font-size: 16px;
    color: #216ed4;
}
.cardsubhdr{
    font-size: 14px;
    font-weight: normal;
    color: #218bed;
}
.carddate{
    font-size: 12px;
    color: #767676;
    padding-left: 30px;
}
.sicon{
    font-size: 20px;
    margin-right: 0px;
    padding-top: 5px;
}
.viewall, .viewallbr{
    font-size: 13px;
    font-weight: 600;
    color: #5aaed9;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    background-color: #eeeeee;
    border-top: solid 1px #ccc;
}
.viewall a{
    color: #255c8f;
    font-size: 13px;
    font-weight: 600;
}
.viewallbr{
    border-top: solid 1px #ccc;
}
.viewallbr a{
    color: #255c8f;
    font-size: 13px;
    font-weight: 600;
}
.currentbg{
    margin: 13px 0 0 15px;
    background-color: #5980b3;
    padding-bottom: 15px;
    border-radius: 6px;
}
.currenttext{
    color: #fff;    
    font-size: 11x;
    text-align: left;
    padding-top: 3px;
}
.currentbl{
    color: #fff;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}
.font14{
    font-size: 14px;
    color: #575757;
    padding-left: 15px;
    padding-top: 15px;
}
.hdr1{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 14px;
    color: #575757;
}
.font13{
    font-size: 13px;
}

.hdr2{
    text-align: left;
    padding: 0px 0 15px 15px;
    color: #737373;
    font-size: 23px;
    font-weight: bold;
}
.float-left{
    float: left;
    padding-top: 10px;
    font-size: 13px;
}
.float-right{
    float: right;
    padding-top: 10px;
    font-size: 13px;
}
.boxborder{
    border-bottom: solid 1px #ccc;
    padding-top: 5px;
}
.total{
    font-size: 20px;
    font-weight: bold;
    color: #218bed;
    padding-top: 35px;
    padding-bottom: 5px;
}
.bluefont{
    font-size: 14px;
    font-weight: normal;
    color: #218bed;
    padding-top: 5px;
    padding-bottom: 5px;
}
.gryfont{
    font-size: 14px !important;
    font-weight: normal;
    color: #575757;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
}
.listgrpdng{
    padding-top: 20px;
    padding-bottom: 30px;
}
.per-font{
    font-size: 25px;
    padding-top: 0px;
}
.Promotionbg{
    margin: 30px 0 10px 0;
    background-color: #218bed;
    min-height: 170px;
    min-width: 50px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    padding-top: 50px;
    background-image: linear-gradient(to top, #6ec8e5, #62bbdf, #5aadd9, #54a0d1, #5292c9);
}
.tablehdr{
    font-size: 13px;
    color: #454545;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    background-color: #cae5ff;
}
.trhdr, .trhdrblue{
    font-size: 13px;
    color: #3a3a3a;
    font-weight: normal;
    text-align: left;
}
.trhdrblue{
    color: #0656bb;
}
.trgry{
    color: #646464;
    font-size: 13px;
}
.cartblue{
    color: #0656bb;
    font-size: 16px;
}
.cartgry{
    color: #20afb7;
    font-size: 22px;
}
.table td, .table th {
    padding: 0.45rem;
}
.tablecnt{
    min-height: 220px;
}
.my-custom-scrollbar {
    position: relative;
    height: 287px;
    overflow: auto;
  }
  .table-wrapper-scroll-y {
    display: block;
    overflow-x: hidden;
  }
  .yourteam{
      margin: 0;
      padding: 0;
  }
  .yourteam ul{
    margin: 0;
    padding-top: 5px;
    padding-left: 25px;
}
.yourteam ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    list-style-type: none;
    font-size: 13px;
    color: #3a3a3a;
    border-bottom: solid 1px #c8c8c8;
}
.orderno{
    font-size: 12px;
    color: #218bed;
   font-weight: 700;
   padding-top: 5px;
   padding-left: 17px;
}
.orderdate{
    font-size: 12px;
    color: #767676;
    padding-right: 10px;
}
.arrowr{
    font-size: 14px;
    color: #767676;
    margin-right: 5px;
}
.box-shadow{
    /* -webkit-box-shadow: 0px 2px 5px 0px rgba(117,117,117,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(117,117,117,1);
    box-shadow: 0px 2px 5px 0px rgba(117,117,117,1); */
    border-bottom: 0;
}
.profileimg{
    width: 50px;
    height: 50px;;
   margin: 10px 0 0 15px;
}
.profilehdr{
    font-size: 12px;
    font-weight: bold;
    color: #218bed;
    padding-top: 15px;
}
.proid{
    font-size: 12px;
    color: #767676;
    font-weight: bold;
}
.well-sm {
    padding: 9px;
    border-radius: 3px;
}
.well {
    min-height: 6px;
    padding: 0px;
    margin: 4px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.btmmrgn{
    margin-bottom: 30px;
}
.mrgntop{
    margin-top: 20px;
}
.paneltitle{
    color: #135ca0;
    font-weight: 600;
}
.paneltitlebg{
    background-color: #5980b3 !important;
    color: #fff !important;
    font-weight: 600;
}
.metric.metric-sm .metric-body {
    font-size: 3em;
    line-height: 1em;
    font-weight: bold;
    color: #135ca0 !important;
}
/*------------End Dashboard ----------------*/
.header_m{
    font-size: 18px;
    font-weight: bold;
    color: #135ca0;
    padding-bottom: 15px;
}
.panel {
    margin-bottom: 0px;
}
.gridcontent{
    min-height: 500px;
    border:solid 1px #ccc;
    padding-left: 0;
}
.searchbox{
    margin-top: 50px;
    padding: 10px 10px 10px 0px;
}
dl {
    margin-top: 0;
    margin-bottom: 20px;
}
.metric {
    margin-top: 20px;
}
.dl-metric dd {
    text-align: right;
}
dd {
    margin-left: 0;
}
.dl-metric dd {
    text-align: right;
}
.dl-metric dt {
    float: left;
    clear: left;
    text-align: left;
    font-weight: 400;
    color: #6b6b6b;
}
.metric.metric-sm .metric-title {
    font-size: .9em;
}
.gridgraybg{  
    background-color: #eeeeee;  
    border-right: solid 1px #cfcfcf; 
    border-left: solid 1px #cfcfcf; 
}
.gridbr{   
    border: 1px solid #cfcfcf;
    border-right: solid 1px #cfcfcf !important;  
    line-height: 35px;
}
.gridmdlhdr{
    line-height: 35px;
}
.gridwtbg{
    background-color: #fff;
    border-right: solid 1px #cfcfcf; 
    padding: 0px 0 0px 0;
}
/* .gridno{
    width: 2% !important;
} */


/*-------------------*/

@media screen and (min-width: 980px) /* Desktop */ {
   
    
  }
  
  @media screen  and (max-width: 979px) /* Tablet */ {
    .flag-select {         
        margin-top: 0px;        
    }
    
  }
  
  @media screen and (max-width: 500px) /* Mobile */ {
    
  }


  /*----------New Styles-----------*/

  h1, h2, h3, h4, h5, h6 {
    color: #255c8f;
    /* font-weight: bold; */
}
.h5, h5 {
    font-size: 16px !important;
}
.h2, h2 {
    font-size: 30px;
}
.viewpro a{
    font-size: 14px !important;
    text-shadow: none !important;
}
.h2hdr{
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #255c8f;
    padding-left: 0px;
}
.dropdown-menu.show {  
    border-color: transparent !important;
}
.text-muted {
    color: #777;
}
.small, small {
    font-size: 14px !important;
}
  .logopdng1{
      padding-bottom: 15px;
  }
.forminput{
    height: 40px !important;
    padding-left: 3.5rem !important;
}
.btnmgn{
    margin-top: 25px;
    margin-bottom: 35px !important;
    padding-bottom: 20px;
}
.btnpdng{
    padding: 5px 20px 5px 20px !important;
}
.loginform {
    /* width: 400px; */
    margin: 130px auto;
}
.loginform form {
    margin-bottom: 15px;
    background: #f7f7f7;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 55px;
    border: solid 1px #f1f1f1;
}
.rc-menu {
    outline: none;
    margin-bottom: 0;
    padding-left: 0px;
    padding-right: 0;
    list-style: none;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 4px #d9d9d9;
    border-radius: 3px;
    color: #666;
}
.rc-menu-horizontal {
    padding-left: 48px !important;
    background-color: #fbfbfb !important;
    border: none;
    border-bottom: 1px solid #ebebeb !important;
    box-shadow: none;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
.rc-menu-vertical > .rc-menu-item, .rc-menu-vertical-left > .rc-menu-item, .rc-menu-vertical-right > .rc-menu-item, .rc-menu-inline > .rc-menu-item, .rc-menu-vertical > .rc-menu-submenu > .rc-menu-submenu-title, .rc-menu-vertical-left > .rc-menu-submenu > .rc-menu-submenu-title, .rc-menu-vertical-right > .rc-menu-submenu > .rc-menu-submenu-title, .rc-menu-inline > .rc-menu-submenu > .rc-menu-submenu-title {
    padding: 4px 8px 4px 18px !important; 
}
.rc-menu-horizontal > .rc-menu-submenu-active, .rc-menu-horizontal > .rc-menu-item-active {
    border-bottom: 2px solid #4b9be5 !important;
    background-color: #fff;
    color: #4b9be5 !important;
}
.rc-menu-item a{
    text-decoration: none !important;
}
.margintop-5 {
    margin-top: 20px;
    text-align: right;
    padding-right: 20px;
}
.avatar.avatar-xs {
    padding: 0;
    max-width: 20px;
}
.nav>li>a>img {
    max-width: none;
}
.avatar {
    border-radius: 50%;
    display: inline-block;
    max-width: 100%;
    width: 100% \9;
    height: auto;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.dropdown-menu.col-2 {
    min-width: 320px;
}
.pl0{
    padding-left: 0 !important;
}
.pr0{
    padding-right: 0 !important;
}
.mycart{
    padding: 15px 23px 17px 0;
    text-align: center;
    background-color: #fbfbfb !important;
    border: none;
    border-bottom: 1px solid #ebebeb !important;
}
/*---------------*/
/* .view-navigation .panel-default>.panel-heading.active {
    background-color: #73afe6;
} */
.panel-heading {
    padding: 8px 6px !important;
}
.view-navigation .panel-default>.panel-heading {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.panel-default>.panel-heading {
    color: #fff;
}
.panel-heading:hover {
    background-color: #428fd6;
    color: #fff;
}

.panel-default>.panel-heading {
    background-color: #428fd6 ;
    margin-bottom: 0px;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-heading {
    background-color: #428fd6;
}
.well-sm {
    padding: 9px;
    border-radius: 3px;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.input-group-addon, .input-group-btn {
    width: 26px;
    background-color: #e4e4e4;
    border: solid 1px #c7c7c7;    
    white-space: nowrap;
    vertical-align: middle;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}

.h20{
    height: 20px;
}
.teamh{
    height: 20px; 
    float: right; 
    padding-right:15px;
    margin-bottom: 15px;
}
.boxh630{
    height: 360px;
}
.metric{
    margin-bottom: 20px;
}
.totalb{
    font-weight: bold;
}
.tdbg{
    background-color: #f5f5f5;
}
.tablemrb{
    margin-bottom: 0px !important;
}
.textalignr{
    text-align: right;
}
.panelmb50{
    margin-bottom: 50px;
}
.panelmb25{
    margin-bottom: 25px;
}
.padiingt10{
    padding-top: 20px;
    padding-bottom: 60px;
}
.bluecolor{
    color: #296091;
}
.fafonts15{
    font-size: 23px !important;
}
.progress-bar-info {
    background-color: #5bc0de !important;
}
.barwd{
    width: 53.9600%;
}
.panelhdr{
    background-color: #73afe6 !important;
    color: #fff !important;
}
.view-navigation .panel-default>.panel-heading.active {
    background-color: #00a0dc !important;
    color: #fff !important;
}
.view-navigation .panel-default>.panel-heading a:hover {
    text-decoration: none;
    /* background-color: #20afb7 !important;
    color: #fff !important; */
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 5px 5px;
    border-radius: 4px;
}
.paddingt10{
    padding-top: 10px;
    color: #9e9e9e;
}

.list-group a {
    background-color: white !important;
}
.list-group a:hover {
    background-color: #cfcfcf !important;
}
.card-heading {
    padding: 15px 15px 0px 15px;
    border-bottom: 1px solid transparent;   
}
.card-footer{
    color: #fff;
    background-color: #73afe6 !important;
}
.no-padding{
    padding: 0 !important;
    border: 0 !important;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 6px 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.list-group-item a{
    position: relative;
    display: block;
    padding: 2px 1px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.carticon{
    font-size: 25px;
}
.borderbtm{
    padding-bottom: 11px;
}
/* 
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
    width: 10% !important;
}
.rc-collapse > .rc-collapse-item > .rc-collapse-header {  
   color: #202020 !important;
    font-weight: 600 !important;
}
.tbody > .rc-collapse{
    width: 500px;
} */
/* .react-bs-table table {
    margin-bottom: 0;
    table-layout: auto !important;
} */
/* .dropdown-toggle {
    white-space: nowrap;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
} */
.dropdown-toggle{
    cursor: pointer;
}
th:nth-child(-n+10) {background: #ebf2ff}
tr:nth-child(even) {background: #efefef}
tr:nth-child(odd) {background: #FFF}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    /* border-right: 4px solid transparent;
    border-left: 4px solid transparent; */
}
.rc-collapse-content {
    overflow: visible !important;
    color: #666;
    padding: 0 16px;
    background-color: #fff;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: -0.6em !important;
    vertical-align: .255em;
    content: "";
    border-top: 0em solid !important;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.open > .dropdown-menu {
    display: block;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    z-index: 999 !important;
    font-size: 14px !important;
} 
.clear{
    clear: both;
}
.rc-collapse-content > .rc-collapse-content-box {
    margin-top: 0px !important;
    margin-bottom: 16px;
}
.inputsearch{
    padding-right: 0 !important;
    margin-bottom: 5px;
}
.dropdown, .dropleft, .dropright, .dropup {   
    margin-left: 0px;
}


/*---------Customer Details---------*/

.Customerh3{
    font-size: 18px;
    padding-top: 25px;
}
.textmuted {
    font-size: 14px;
    color: #777;
}
.margintop30{
    margin-top: 30px;
    margin-bottom: 30px;
}
.fa_icon1{
    font-size: 14px;
    margin-right: 10px;
}

.addresspara{
    padding:0 2px 0 10px !important;
}
.wellbg{
    background-color: #fff !important;
    border-top: solid 1px #e9e9e9 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-radius: 0 !important;
}
.closeicon{
    font-size: 25px !important;
}
.hdrh5{
    font-size: 20px !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff !important;
    background-color: #73afe6 !important; 
    border-color: #dee2e6 #dee2e6 #fff;
}


.Inventorybg{
    text-align: right;
    padding: 5px;
    background-color: #ebf2ff;
}
.textbpdng{
    padding-top: 15px;
    padding-bottom: 10px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff !important;
    background-color: #73afe6 !important;
    border: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #73afe6 !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs {
    border-bottom: none !important;
}

/*------------------------*/

.leftmenuwd{
    min-width: 220px;
}
.formtext{
    font-weight: normal;
}

/*--------------Products Css-------------------/*/
.viw{
    position: absolute;
    background: #73afe6;
    color: #fff;
    padding: 0.5em 1em;
    font-size:1em;
    font-weight: 500;
    top: 0%;
    left: 0%;
    display: none;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .viw:hover,.shrt:hover{
      text-decoration:underline;
  }
  .viw a,.shrt a{
      color:#fff;
  }
  .viw a:hover,.shrt a:hover{
      color: #fff;
      text-decoration:none; 
  }
  .shrt{
    position: absolute;
    background: #f28365;
    padding: 0.5em 1.5em;
    font-size:1em;
    font-weight: 500;
    top: 0%;
    right: 0%;
    display: none;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }  
  .feature-grid{
      text-align:center;
  }
  .feature-grid img{
      width:100%;
      padding:1em 2em 0em 2em;
  }
  .feature-grid{
      position:relative;
      border: 1px solid #acd1f3;
      padding:1em;
      margin-left: 10px;
      margin-top: 5px;
      border-radius: 6px;
      width: 23% !important;
  }
  .feature-grid a{
      text-decoration:none !important;
  }
  .featured {
    margin-top: 3em;
  }
  .feature-grids{
      margin-top:0em;
  }
  .feature-grid:hover {
    border: 2px solid #f28365;
  }
  .feature-grid:hover div.viw{
      display:block;
  }
  .feature-grid:hover div.shrt{
      display:block;
  }
  .feature-grid:hover div.arrival-info h4{
      color:#e56442;
  }
  .viw a:hover, .shrt a:hover{
      text-decoration:block;
  }
  .arrivals{
	padding:4em 0;
}
.arrivals h3,.featured h3{
	color:#00a0dc;
	font-size:2.3em;
	text-align:center;
}
.arrival-grids{
	margin-top:2em;
}
.arrival-info{
	margin-top:1em;
}
.arrival-info h4{
	color:#414141;
	font-size:1.1em;
	text-transform:none;
}
.arrival-info p{
	color:#1867b0;
	font-size:1.1em;
	font-weight:600;
	margin:5px 0 5px;
}
span.pric1{
	color:#ADADAD;
	font-size:0.95em;
}
span.disc{
	color: rgba(7, 152, 40, 0.69);
  font-size: 0.85em;
}
.Footer{
    margin-top: 15px;
}
.deatilshdr{   
    font-size: 20px;
    color: #f28365;
    font-weight: bold;
}
.codehdr{
    color: #8e8e8e;
    font-size: 14px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}
.price{
    color: #428fd6;
    font-size: 25px;
    padding-top: 15px;
    font-weight: bold;
}
.space-20{
    padding-top: 20px;
}
.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
    height: 50px !important;
    width: 20px !important;
}
.MuiGrid-spacing-xs-4 > .MuiGrid-item {
    padding: 10px 10px 10px 50px  !important;
}
.image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
    margin: 0 5px;
    min-height: 350px !important;
}
.image-gallery-slide.center {
    position: relative;
    min-height: 300px !important;
}
.image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
    display: inline-block;
    width: calc(100% - 110px);
    min-height: 300px;
}
.image-gallery-content {
    position: relative;
    line-height: 0;
    top: 0;
    min-height: 300px;
}
.sliderlp{
    margin-left: 50px;
}
.backtp{
    margin-top: 50px;
    margin-bottom: 50px;
}
.carthdr{
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
    color: #135ca0;
}
.subt {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}
.subt1 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
}
.itemdescription{
    font-size: 18px;
}
.text14{
    font-size: 14px;
}
.checkoutp{
    padding-top: 25px;
    margin-bottom: 20px;
}
.textb{
    font-size: 25px;
    font-weight: bold;
}
.inputtext{
    width: 80px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 10px !important;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.media-heading {
    margin-top: 0;
    margin-bottom: 4px !important;
}
.card-heading {
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid transparent;
    background-color: #e8eced;
}
.pdt10{
    padding-top: 8px;
}
.card-body{
    padding: 0 !important;
}
.react-bs-table-pagination {
    margin-top: 0px;
    margin-bottom: 10px !important;
}
.pl10{
    padding-left: 10px;
}
.pl20{
    padding-left: 20px;
}
.pt10{
    padding-top: 10px;
}
.pr8{
    padding-right: 8px;
}
.inputht{
    min-height: 36px !important;
}
.panel-title{
    font-size: 14px !important;
}
.fbold{
    font-weight: 600;
}
.usericon{
    color: #cbcbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 27px;
    left: 10px;
}
.page_container{
    display: block;
    padding-left: 5.25rem !important;
    padding-right: 5.25rem !important;
}
.gridlpdng{
    padding-left: 2rem;
}
.company_hdr{
    /* font-size: 30px;    */
    text-align: left;
    padding-top: 15px;
}
.yoofoo_hdr{
    font-size: 30px;
    color: #0656bb;
    text-align: left;
}
.yoofoo_hdr1{
    font-size: 23px;
    color: #333;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 5px;
}


.text-uppercase {
    text-transform: uppercase!important;
}
.g-font-size-13 {
    font-size: 1.5rem !important;
}
.d-block {
    display: block!important;
}
.col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    /* max-width: 16.666667%; */
}
.g-mb-30 {
    margin-bottom: 2.14286rem !important;
}
.g-py-20 {
    padding-top: 1.42857rem !important;
    padding-bottom: 1.42857rem !important;
}
.iconcolor{
    color: #428fd6;
}
.hdrlink{
    color: #4b9be5;
}
.g-color-black {
    color: #333 !important;
}

.g-transition-0_3 {
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}

.g-transition-0_3::before, .g-transition-0_3::after {
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}

svg.g-transition-0_3 path,
svg.g-transition-0_3 polygon {
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}
.g-font-weight-600 {
    font-weight: 600 !important;
}
.u-link-v5 {
    text-decoration: none;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.u-link-v5 a:hover{
    text-decoration: none !important;
}
.u-shadow-v1-5 {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.u-shadow-v21 {
    -webkit-box-shadow: 0 20px 25px -12px rgba(0, 0, 0, 0.09);
    box-shadow: 0 20px 25px -12px rgba(0, 0, 0, 0.09);
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}

.u-shadow-v21--hover:hover {
    text-decoration: none !important;
    -webkit-box-shadow: 0 20px 25px -12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 20px 25px -12px rgba(0, 0, 0, 0.15);
}
.subs_hdr, .subs_hdr1{
    font-size: 20px;
    font-weight: bold;
    color: #0656bb;
    padding-top: 10px;
    text-align: left;
}
.subs_hdr1{
    font-weight: 500;
    font-size: 16px;
    padding: 0 0 15px 15px;
}
.subs_p{
    font-size: 16px;
    color: #202020;
    font-weight: normal;  
    padding-top: 10px;
    text-align: left;
}
.addsub{
    padding-top: 40px !important;
    min-height: 300px;
    border: none !important;
}
.viewbox{
    background-color: #fff;
    min-height: 300px;
    border: solid 1px #e3e3e3;
    border-radius: 6px;
    padding-top: 10px;
}
.subhdr_res{
    font-size: 14px;
    color: #00a0dc;
    font-weight: 600;
    padding:  5px 0 5px 0;
}
.pdficon{
    font-size: 23px;
    color: #FF3500;
}
.gridhdrbg{
    background-color: #9bc1e4 !important;
    color: #fff !important;
}
.gridmrtop{
    margin-top: 15px;
}
.rbc-calendar {
    min-height: 500px ;
  }
  .rbc-btn-group > button {
      color: #fff !important;
      background-color: #1867b0 !important;
  }

  .rbc-btn-group > button:hover {
    color: #fff !important;
    background-color: #216ed4 !important;
}
.rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    background-color: #333 !important;
    border-color: #adadad;
}
.rbc-toolbar .rbc-toolbar-label {
    flex-grow: 1;
    padding: 0 10px;
    text-align: center;
    font-weight: 600;
    color: #1867b0;
    font-size: 20px;
}







/*--responsive--*/
@media(max-width:768px){

.feature-grid {
  width: 100%;
}
.arrivals h3, .featured h3 {
  font-size: 1.7em;
}
.featured {
  margin-top: 2em;
}
.viw{
  padding: 0.5em 0.5em;
  font-size: 1.3em;
}
.shrt{
  padding: 0.5em 0.8em;
  font-size: 1.3em;
}
.Header{
    padding-left: .25rem !important;
    padding-right: .25rem !important;    
}
.rc-menu-horizontal {
    padding-left: 5px !important;    
}
.page_container {   
    padding-left: .25rem !important;
    padding-right: .25rem !important;
}
.margintop-5 {
    margin-top: 10px;
    text-align: right;
    padding-right: 20px;
}
.gridlpdng{
    padding-left: 0rem;
}
}
@media (max-width: 640px){
    .feature-grid{      
        width: 100% !important;
    }
}
@media(max-width:480px){
.arrivals h3, .featured h3 {
  font-size: 1.5em;
}
.viw {
  padding: 0.5em 0.5em;
  font-size: 1.3em;
}
.shtr{
	 font-size: 1.3em;
	 padding: 0.5em 0.5em;
}
.feature-grids {
  margin-top: 2em;
}

}
@media(max-width:320px){

.feature-grid {
  width: 100%;
}
.feature-grids {
  margin-top: 1em;
}
.welcome-right p {
  font-size: 0.85em;
}
.arrival-info {
  margin-top: 0em;
}
.viw {
  font-size: 1.3em;
}
.shrt {
  font-size: 1.3em;
}
.arrivals {
  padding: 2em 0;
}
.product-grid {
  width: 100%;
  margin-bottom:1.5em;
}
}





